*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(0,0,0);
    color: white;
    width: 100vw;
    height: 20vh;
    

}
.main{
   
    width: 100vw;
    height: 150vh;
    background-color: black;
}
.box{
  
    text-align: center;
    border-radius: 5vh;
   background-color: #242424;
   color: white;
    height: auto;
    width: 40vw;
    display: block;
    margin: auto;
    padding-top: 10px;
    
   

}
.box ul{
    display: flex;
    flex-direction: column;
    list-style-type:none;
    padding-top: 15vh;
    gap: 3vh;
    
}
.box ul input{
    text-align: center;
    height: 10vh;
    width: 20vw;
    border-radius: 10vh;
    margin-left: 25%;
    
}

.btn{
   
    height: 10vh;
    width: 20vw;
    border-radius: 10vh;
    background-color: #212121;
    border: 0px;
    border:2px solid white;

}
.box li a{
   
    text-decoration: none;
    color: white;


}
.box li{
    list-style-type: none;
    font-weight: bold; 

}

footer{
    background-color: rgb(36, 36, 36);
    text-align: center;
    color: white;
    padding-top: 5vh;
    height: 10vh;
  
}
